

.MainFrame {
    position: relative;
    background: black;
    color: white;
    text-align: center;
    width: 60%;
    margin: 5% 20%;
    padding: 25px;
}

p {
    margin: 10px;
    font-size: 30px;
}

span {
    margin:20px;
    font-size: 50px;
}

